In [3]:
import pandas as pd
import glob
import os

# Read and concatenate all CSV files in the directory
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('', "*.csv"))))

# Check if 'Unnamed: 0' exists and drop it if present
if 'Unnamed: 0' in df.columns:
    df = df.drop(['Unnamed: 0'], axis=1)

# Reset index after concatenation
all_df = df.reset_index(drop=True)

# Now 'all_df' contains the cleaned DataFrame

In [6]:
# import pandas as pd
# import glob, os
# df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('', "*.csv"))))
# all_df=df
# all_df = df.drop(['Unnamed: 0'], axis=1).reset_index(drop=True)

In [4]:
all_df.head()

,generation,Individual,chromosome_ID,genes,fitness,test_EXP_VAR_SCORE,test_MAE,test_MAPE,test_MAX_ERROR,test_MSE,...,test_RMSE,train_EXP_VAR_SCORE,train_MAE,train_MAPE,train_MAX_ERROR,train_MSE,train_R2,train_RMSE,2.910465598106384277e-01,0.000000000000000000e+00
0,0.0,0.0,8.0,"[0.076634, 0.358, 1, 32, 'relu', 'mae', ['GRU'...",45.587592,0.822788,4.607108,0.207248,52.102639,45.587592,...,6.751858,0.841014,5.471070,0.251137,66.587584,62.623854,0.801820,7.913523,NaN,NaN
1,0.0,1.0,1.0,"[0.085843, 0.497, 4, 16, 'relu', 'mse', ['GRU'...",109.361885,0.504182,7.481317,0.406094,57.532086,109.361885,...,10.457623,0.553506,8.608772,0.467914,64.023027,150.573098,0.523495,12.270823,NaN,NaN
2,0.0,2.0,4.0,"[0.083488, 0.257, 4, 32, 'relu', 'mse', ['LSTM...",147.854978,0.318640,8.507713,0.455540,63.717775,147.854978,...,12.159563,0.304052,10.938602,0.609787,66.696792,219.920455,0.304038,14.829715,NaN,NaN
3,0.0,3.0,2.0,"[0.023294, 0.295, 2, 8, 'elu', 'mape', [['GRU'...",168.690136,0.574814,9.246107,0.358150,67.983737,168.690136,...,12.988077,0.558310,10.564438,0.364151,68.837522,230.225541,0.271426,15.173185,NaN,NaN
4,0.0,4.0,9.0,"[0.089102, 0.266, 2, 32, 'sigmoid', 'mae', [['...",199.998985,0.244091,8.967714,0.360078,63.880959,199.998985,...,14.142100,0.241433,11.484194,0.450744,67.991619,313.957471,0.006447,17.718845,NaN,NaN

In [5]:
all_df.to_csv("all_results.csv")